<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->
    <link rel="preconnet" href="https://fonts.googleapis.com">
    <link rel="preconnet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">

    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../styles.css">

    <!--Favicon-->
    <link rel="icon" type="imagine/svg" href="../logos/favicon.svg">

    <title>Productos</title>
</head>

<body>
    <section class="main-container">
        <div class="cards-container">
            <!--Tarjeta 1-->
            <div class="product-card">
                <img src="../icons/pexels-th2city-30558166.jpg" alt="Banano">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
              <!--Tarjeta 2-->
            <div class="product-card">
                <img src="../icons/pexels-l-lum-2158594693-35541086.jpg" alt="Ciruelas">
                <div class="product-info">
                    <div>
                        <p>$ 15.000</p>
                        <p>Ciruelas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 3-->
            <div class="product-card">
                <img src="../icons/pexels-alla-melashtchenko-237905976-12301649.jpg" alt="Kiwi">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Kiwi</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 4-->
            <div class="product-card">
                <img src="../icons/pexels-gosia-k-23254118-33685976.jpg" alt="Mora">
                <div class="product-info">
                    <div>
                        <p>$ 7.000</p>
                        <p>Mora</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 5-->
            <div class="product-card">
                <img src="../icons/pexels-yoendry-13835776.jpg" alt="Piña">
                <div class="product-info">
                    <div>
                        <p>$ 10.000</p>
                        <p>Piña</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 6-->
            <div class="product-card">
                <img src="../icons/pexels-couleur-37354949.jpg" alt="Fresa">
                <div class="product-info">
                    <div>
                        <p>$ 14.000</p>
                        <p>Fresa</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 7-->
            <div class="product-card">
                <img src="../icons/pexels-saizstudio-18076423.jpg" alt="Pera">
                <div class="product-info">
                    <div>
                        <p>$ 9.000</p>
                        <p>Pera</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
              <!--Tarjeta 8-->
            <div class="product-card">
                <img src="../icons/pexels-lekepov-2044219506-36877895.jpg" alt="Mango">
                <div class="product-info">
                    <div>
                        <p>$ 12.000</p>
                        <p>Mango</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 9-->
            <div class="product-card">
                <img src="../icons/pexels-pixabay-162709.jpg" alt="Manzana">
                <div class="product-info">
                    <div>
                        <p>$ 8.000</p>
                        <p>Manzana</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 10-->
            <div class="product-card">
                <img src="../icons/pexels-mikhail-nilov-7674669.jpg" alt="Coco">
                <div class="product-info">
                    <div>
                        <p>$ 10.000</p>
                        <p>Coco</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 11-->
            <div class="product-card">
                <img src="../icons/pexels-gu-ko-2150570603-31872026.jpg" alt="Sandía">
                <div class="product-info">
                    <div>
                        <p>$ 13.000</p>
                        <p>Sandía</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>
            <!--Tarjeta 12-->
            <div class="product-card">
                <img src="../icons/pexels-msaimakin-28947260.jpg" alt="Naranja">
                <div class="product-info">
                    <div>
                        <p>$ 27.000</p>
                        <p>Naranja</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="Agregar al carrito">
                    </figure>
                </div>
            </div>

        </div>
    </section>
</body>

</html>