<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->
    <link rel="preconnet" href="https://fonts.googleapis.com">
    <link rel="preconnet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">

    <!--Hojas de estilos-->
    <link rel="stylesheet" href="../styles.css">

    <!--Favicon-->
    <link rel="icon" type="imagine/svg" href="../logos/favicon.svg">


    <title>Menú Desktop</title>
</head>

<body>
    <div class="desktop-menu">
        <ul>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
    </div>
   
</body>

</html>